@model ConsentViewModel

    <div class="float-inner login-float-inner white-background">
        <br />&nbsp;<br />
        <div><img src="~/img/a3s.svg" class="a3s-small-logo" /></div>
        <h2>Do you grant these access privileges?</h2>

        @if (Model.ClientLogoUrl != null)
        {
            <div class="client-logo"><img src="@Model.ClientLogoUrl"></div>
        }
        <p>
            Your consent is required by <b>@Model.ClientName</b> to access your personal information and to assign the updated permissions to you.
        </p>
        <p>
            Uncheck the permissions you do not wish to grant.
        </p>

        @if (!ViewContext.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissible login-screen-control show">
                <button type="button" class="close" aria-label="Close">
                    <img class="icons-general-blue-add" src="~/img/add_blue.svg" />
                </button>
                <div class="a3s-row">
                    <div class="alert-box-icon"><img src="~/img/alert.svg" /></div>
                    <div class="alert-text" asp-validation-summary="All"></div>
                </div>
            </div>
        }

        <form asp-action="Index" class="consent-form">
            <input type="hidden" asp-for="ReturnUrl" />


            @if (Model.IdentityScopes.Any())
            {
                <div class="content-grouping-header padding-left-only-15 padding-top-only-15">
                    <span class="glyphicon glyphicon-user"></span>
                    Personal Information
                </div>
                <ul class="list-group left-align-only">
                    @foreach (var scope in Model.IdentityScopes)
                    {
                        <partial name="_ScopeListItem" model="@scope" />
                    }
                </ul>
            }

            @if (Model.ResourceScopes.Any())
            {
                <div class="content-grouping-header padding-left-only-15 padding-top-only-15">
                    <span class="glyphicon glyphicon-tasks"></span>
                    Application Access
                </div>
                <ul class="list-group left-align-only">
                    @foreach (var scope in Model.ResourceScopes)
                    {
                        <partial name="_ScopeListItem" model="scope" />
                    }
                </ul>
            }

            @if (Model.AllowRememberConsent)
            {
                <div class="consent-remember">
                    <label>
                        <input class="consent-scopecheck" asp-for="RememberConsent" />
                        <strong>Remember My Decision</strong>
                    </label>
                </div>
                <br />
            }

            <div class="consent-buttons">
                <button name="button" value="yes" class="spoon-btn-primary" autofocus>&nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;</button>
                &nbsp;
                <button name="button" value="no" class="spoon-btn">&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;</button>
                @if (Model.ClientUrl != null)
                {
                    <a class="pull-right btn btn-default" target="_blank" href="@Model.ClientUrl">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <strong>@Model.ClientName</strong>
                    </a>
                }
            </div>
        </form>

        <br />
    </div>
